.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
tsconfig.json
**/*.ts
**/*.map

# webview-ui: only include dist
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/.gitignore
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/package.json
webview-ui/pnpm-lock.yaml
webview-ui/index.html

# Other
pnpm-lock.yaml
*.vsix
